body { padding: 0px; margin: 0px; color: red; }{font-size: 26px;}p{font-size: 26px; text-align: center;}
header {background: yellow; padding: 15px }
header h1{text-align: center; margin: 0px; color: black;}
footer {background: black; padding: 15px}
footer h1{color: white; margin: 0px; text-align: center;}
